In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib as mpl
import datetime
mpl.rcParams['axes.unicode_minus'] = False
plt.rcParams['font.family'] = 'Malgun Gothic'
import os

In [6]:
df_m = pd.read_csv('/media/minwookim/9C33-6BBD/WorkSpace/Next_Ez_jejudo/data/골프장데이터/골프장데이터ver_date_0302.csv')

/home/minwookim/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (6,9,32) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
df = pd.read_csv('/media/minwookim/9C33-6BBD/WorkSpace/Next_Ez_jejudo/data/골프장데이터/골프장예약만데이터ver0302.csv')

In [4]:
df.골프장명.unique()

array(['해비치CC', '아덴힐GC', '더클래식CC', '롯데스카이힐제주CC', '오라CC ',
       '그린필드CC(구 제피로스)', '우리들CC', '라온GC', '에코랜드GC', '크라운CC', '타미우스CC',
       '세인트포CC', '제주CC', '스프링데일CC', '한라산CC', '샤인빌CC', '엘리시안CC', '사이프러스CC',
       '그린필드CC'], dtype=object)

In [5]:
df[df.골프장명=='엘리시안CC'].head(3)

,골프장명,골프장지역명,골프장멤버십값,골프장유형값,사용일자,사용시간값,사용유형명,거주자금액,비거주자금액,결제수단명,...,예약시간,판매업체명,예약자성별코드,예약자연령대코드,예약자거주지값,예약자평균값,예약자골프경력값,예약자평균사용값,예약자사용성향값,요일별
15015,엘리시안CC,서부권,회원제+대중제,36,20200416,1333,대중제,80000,0,현장결제,...,102231,엘리시안C.C,2,50.0,도민,90,10년이상,5회이상,번개골프,목요일
15016,엘리시안CC,서부권,회원제+대중제,36,20200420,1216,대중제,80000,0,현장결제,...,91935,엘리시안C.C,0,NaN,도민,NaN,NaN,NaN,NaN,월요일
15022,엘리시안CC,서부권,회원제+대중제,36,20200322,1319,대중제,105000,0,현장결제,...,101705,엘리시안C.C,0,NaN,도민,NaN,NaN,NaN,NaN,일요일

## 계절 추가

In [6]:
df['계절'] = df['사용일자'].apply(lambda x: '봄' if ( int(str(x)[4:-2].lstrip('0')) in [3,4,5]) else 
                                    '여름' if ( int(str(x)[4:-2].lstrip('0')) in [6,7,8]) else 
                                    '가을' if ( int(str(x)[4:-2].lstrip('0')) in [9,10,11]) else 
                                    '겨울'  if ( int(str(x)[4:-2].lstrip('0')) in [12,1,2]) else '미분류')

In [7]:
df.계절.value_counts()

여름    10094
가을     9382
겨울     7008
봄      4434
Name: 계절, dtype: int64

## 월추가

In [8]:
df['월'] = df['사용일자'].apply(lambda x: str(x)[4:-2].lstrip('0')+'월' if ( int(str(x)[4:-2].lstrip('0')) in [3,4,5]) else 
                                    str(x)[4:-2].lstrip('0')+'월' if ( int(str(x)[4:-2].lstrip('0')) in [6,7,8]) else 
                                   str(x)[4:-2].lstrip('0')+'월' if ( int(str(x)[4:-2].lstrip('0')) in [9,10,11]) else 
                                    str(x)[4:-2].lstrip('0')+'월'  if ( int(str(x)[4:-2].lstrip('0')) in [12,1,2]) else '미분류')

## 요일 추가

In [ ]:
# days = '월요일 화요일 수요일 목요일 금요일 토요일 일요일'.split(' ')
# df.요일별=df.요일별.apply(lambda x: days[datetime.date(int(str(x)[:4]),int(str(x)[4:-2].lstrip('0')),int(str(x)[-2:].lstrip('0'))).weekday()])

## 일

In [22]:
df['일'] = df['사용일자'].apply(lambda x: str(x)[-2:].lstrip('0')+'일')

In [23]:
df['일'].value_counts()

30일    1325
29일    1108
16일    1091
28일    1074
1일     1070
23일    1054
26일    1048
25일    1046
7일     1044
11일    1042
2일     1040
4일     1016
17일    1012
5일     1009
15일    1004
13일     998
22일     994
27일     988
20일     983
3일      974
24일     972
9일      963
19일     955
8일      947
12일     929
14일     905
6일      905
10일     899
18일     893
21일     886
31일     744
Name: 일, dtype: int64

## 년도별추가

In [24]:
df['해당년도']=df['사용일자'].apply(lambda x:str(x)[:4]+'년')

In [25]:
df.head(3)

,골프장명,골프장지역명,골프장멤버십값,골프장유형값,사용일자,사용시간값,사용유형명,거주자금액,비거주자금액,결제수단명,...,예약자골프경력값,예약자평균사용값,예약자사용성향값,요일별,계절,월,시간대,예약시간대,일,해당년도
0,해비치CC,동부권,회원제+대중제,36,20210120,815,SKY,170000,170000,현장결제,...,NaN,NaN,NaN,수요일,겨울,1월,아침,아침,20일,2021년
1,아덴힐GC,서부권,대중제,18,20210121,809,왕이메,90000,135000,현장결제,...,NaN,NaN,NaN,목요일,겨울,1월,아침,아침,21일,2021년
2,아덴힐GC,서부권,대중제,18,20210126,823,왕이메,90000,135000,현장결제,...,NaN,NaN,NaN,화요일,겨울,1월,아침,아침,26일,2021년

## 사용시간대 추가

In [10]:
df['시간대'] = df['사용시간값'].apply(lambda x: '새벽' if ( round(x/100) in [1,2,3,4,5,6,7]) else 
                                    '아침' if ( round(x/100) in [8,9,10,11,12]) else 
                                   '오후' if ( round(x/100) in [13,14,15,16,17]) else 
                                    '야간'  if ( round(x/100) in [18,19,20,21,22,23,24]) else '미분류')

In [11]:
# df.rename(columns={'시간대':'사용시간대'},inplace=True)
df.head(3)

,골프장명,골프장지역명,골프장멤버십값,골프장유형값,사용일자,사용시간값,사용유형명,거주자금액,비거주자금액,결제수단명,...,예약자연령대코드,예약자거주지값,예약자평균값,예약자골프경력값,예약자평균사용값,예약자사용성향값,요일별,계절,월,시간대
0,해비치CC,동부권,회원제+대중제,36,20210120,815,SKY,170000,170000,현장결제,...,50.0,비도민,8,NaN,NaN,NaN,수요일,겨울,1월,아침
1,아덴힐GC,서부권,대중제,18,20210121,809,왕이메,90000,135000,현장결제,...,50.0,비도민,8,NaN,NaN,NaN,목요일,겨울,1월,아침
2,아덴힐GC,서부권,대중제,18,20210126,823,왕이메,90000,135000,현장결제,...,50.0,도민,14,NaN,NaN,NaN,화요일,겨울,1월,아침

### 예약시간분류하기

In [12]:
df.예약시간.value_counts()[:3]

115853    7
201320    6
145114    6
Name: 예약시간, dtype: int64

In [13]:
df['예약시간대'] = df['예약시간'].apply(lambda x: '새벽' if ( round(x/10000) in [1,2,3,4,5,6,7]) else 
                                    '아침' if ( round(x/10000) in [8,9,10,11,12]) else 
                                   '오후' if ( round(x/10000) in [13,14,15,16,17]) else 
                                    '야간'  if ( round(x/10000) in [18,19,20,21,22,23,24,0]) else '미분류')

In [14]:
df.예약시간대.value_counts()

오후    12028
아침     9310
야간     8460
새벽     1120
Name: 예약시간대, dtype: int64

In [15]:
df.columns

Index(['골프장명', '골프장지역명', '골프장멤버십값', '골프장유형값', '사용일자', '사용시간값', '사용유형명',
       '거주자금액', '비거주자금액', '결제수단명', '총인원수', '거주자인원수', '비거주자인원수', '예약일자', '예약시간',
       '판매업체명', '예약자성별코드', '예약자연령대코드', '예약자거주지값', '예약자평균값', '예약자골프경력값',
       '예약자평균사용값', '예약자사용성향값', '요일별', '계절', '월', '시간대', '예약시간대'],
      dtype='object')

In [29]:
df.to_csv('골프장예약만데이터ver0303.csv',index=False)

## 참고

#### 년,월일
년 int(str(x)[:4]) 

월 int(str(x)[4:-2].lstrip('0')) 

일 int(str(x)[-2:].lstrip('0'))

#### drop